<div class="container-fluid" id="bgimg" >
  <div class="row">
		
      <div id="card" class="card" >
        <img class="card-img-top" src="/assets/takvim2.jpg"  id="takvim">
        <div class="card-body">
          <p class="card-text">Takvim name</p>
        </div>
      </div>
     
	
      <div id="card" class="card" >
        <img class="card-img-top" src="/assets/takvim2.jpg"   id="takvim">
        <div class="card-body">
          <p class="card-text">Takvim name</p>
        </div>
      </div>
	
      <div id="card" class="card" >
        <img class="card-img-top" src="/assets/takvim2.jpg"   id="takvim">
        <div class="card-body">
          <p class="card-text">Takvim name</p>
        </div>
      </div>
	
      <div id="card" class="card" >
        <img class="card-img-top" src="/assets/takvim2.jpg"   id="takvim">
        <div class="card-body">
          <p class="card-text">Takvim name</p>
        </div>
     
		</div>
	</div>


</div>